<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Homepage</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/homepage.css" rel="stylesheet" th:href="@{/css/homepage.css}"/>
    <link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.css}"/>

</head>
<body>
<div class="container-fluid ">
    <a th:href="@{/}" class="navbar-brand">
        <i class="fa fa-cutlery" aria-hidden="true"></i> Delivery
    </a>
</div>
<div class="container-fluid vertical-center">
    <div class="row">
        <div class="col">
            <form class="needs-validation" th:action="@{/restaurants}" th:object="${addressForm}" method="post" novalidate>
                <div class="row">
                    <div class="col">
                        <h5>Cerca un ristorante nelle vicinanze.</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <input class="form-control" id="address" aria-describedby="addressHelp"
                               placeholder="Inserisci il tuo indirizzo" type="text" th:field="*{address}"
                               th:classappend="${error} ? is-invalid"
                        />
                        <div class="invalid-feedback" th:if="${error}" th:text="${error}"></div>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary">Invia</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>