<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurants List</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.css}"/>
</head>
<body>
<div class="container-fluid">
    <a th:href="@{/}" class="navbar-brand">
        <i class="fa fa-cutlery" aria-hidden="true"></i> Delivery
    </a>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            Hai cercato: <span th:text="${address.friendlyViewAddress(address.getAddress())}"></span>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" >
        <div class="col" th:if="${restaurants.size()} == 0">
            <div class="card">
                <div class="card-body">
                    <p>
                        Non è stato trovato nessun ristorante.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4" th:each="restaurant : ${restaurants}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${restaurant.firstToUpper(restaurant.name)}"></h5>
                    <p class="card-text" >
                        <i class="fa fa-align-justify"></i>
                        <span th:text="${restaurant.description}"></span>
                    </p>
                    <!--<i class="fas
                        fa-pizza-slice"></i>
                    <p class="card-text" >-->
                        <span th:text="${restaurant.firstToUpper(restaurant.type)}"></span>
                    </p>
                    <p class="card-text" >
                        <i class="mr-1 fa fa-map-marker"></i>
                        <span th:text="${restaurant.address}"></span>
                    </p>
                    <a th:href="@{/restaurant/{id}(id=${restaurant.id})}" class="btn btn-primary">Vedi i prodotti</a>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>